
        <div class="card col-lg-4 col-md-6 col-sm-12">
            <a href="{{product.get_absolute_url}}"><img
                    src="{{product.image.url}}"
                    class="card-img-top" alt="{{product.title}}"></a>
            <div class="card-body">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text">{{ product.info|truncatewords:10 }}</p>
                <p class="card-text">$<small class="text-body-secondary">{{product.price}}</small></p>
                <button type="button" class="btn btn-warning btn__addToCart" data-id="{{product.id}}">Add to cart</button>
            </div>
        </div>
